# Copyright (C) Nicolas Lamirault <nicolas.lamirault@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

---
name: Azure / Create

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment'
        required: true
        default: 'dev'
      tf_version:
        description: "Terraform version"
        required: true
        # datasource=github-tags depName=hashicorp/terraform
        default: '1.4.6'

# env:
#   ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID_DEV }}
#   ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET_DEV }}
#   ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID_DEV }}
#   ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID_DEV }}

permissions:
  contents: read

jobs:

  azure_hub:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Deploy Portefaix on Azure / network"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ github.event.inputs.tf_version }}
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    # - name: Terraform Format
    #   id: fmt
    #   run: terraform fmt -check
    #   working-directory: terraform/azure/hub/terraform

    - name: Terraform Init
      run: terraform init -upgrade
      working-directory: terraform/azure/hub/network

    # - name: Terraform Plan
    #   run: terraform plan
    #   working-directory: terraform/azure/hub/network

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform/azure/hub/network

  azure_bastion:
    needs: azure_hub
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Deploy Azure Bastion / network"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ github.event.inputs.tf_version }}
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init -upgrade
      working-directory: terraform/azure/bastion/network

    # - name: Terraform Plan
    #   run: terraform plan
    #   working-directory: terraform/azure/bastion/network

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform/azure/bastion/network

  azure_firewall:
    needs: azure_hub
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Deploy Azure Bastion / network"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ github.event.inputs.tf_version }}
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init -upgrade
      working-directory: terraform/azure/firewall/network

    # - name: Terraform Plan
    #   run: terraform plan
    #   working-directory: terraform/azure/firewall/network

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform/azure/firewall/network

  azure_monitor:
    needs: azure_hub
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Deploy Azure Monitor / logging"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ github.event.inputs.tf_version }}
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init -upgrade
      working-directory: terraform/azure/monitor/logging

    # - name: Terraform Plan
    #   run: terraform plan
    #   working-directory: terraform/azure/monitor/logging

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform/azure/monitor/logging

  azure_vnet:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Deploy Portefaix on Azure / ${{ github.event.inputs.env }}"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ github.event.inputs.tf_version }}
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    # - name: Terraform Format
    #   id: fmt
    #   run: terraform fmt -check
    #   working-directory: terraform/azure/vnet/terraform

    - name: Terraform Init
      run: terraform init -upgrade
      working-directory: terraform/azure/vnet/${{ github.event.inputs.env }}

    # - name: Terraform Plan
    #   run: terraform plan
    #   working-directory: terraform/azure/vnet/${{ github.event.inputs.env }}
      env:
        TF_VAR_authorized_ip_ranges: "[\"${{ secrets.HOME_IP_ADDRESS }}\"]"

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform/azure/vnet/${{ github.event.inputs.env }}
      env:
        TF_VAR_authorized_ip_ranges: "[\"${{ secrets.HOME_IP_ADDRESS }}\"]"

  azure_application_gateway:
    needs: azure_vnet
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Deploy Application Gateway / ${{ github.event.inputs.env }}"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ github.event.inputs.tf_version }}
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init -upgrade
      working-directory: terraform/azure/application-gateway/${{ github.event.inputs.env }}

    # - name: Terraform Plan
    #   run: terraform plan
    #   working-directory: terraform/azure/application-gateway/${{ github.event.inputs.env }}

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform/azure/application-gateway/${{ github.event.inputs.env }}

  azure_nat_gateway:
    needs: azure_firewall
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Deploy NAT Gateway / ${{ github.event.inputs.env }}"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ github.event.inputs.tf_version }}
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init -upgrade
      working-directory: terraform/azure/nat-gateway/${{ github.event.inputs.env }}

    # - name: Terraform Plan
    #   run: terraform plan
    #   working-directory: terraform/azure/nat-gateway/${{ github.event.inputs.env }}

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform/azure/nat-gateway/${{ github.event.inputs.env }}

  azure_peering:
    needs:
    - azure_vnet
    - azure_bastion
    - azure_firewall
    - azure_nat_gateway
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Deploy Azure Virtual Network Peering / Orga"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ github.event.inputs.tf_version }}
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init -upgrade
      working-directory: terraform/azure/peering/dev

    # - name: Terraform Plan
    #   run: terraform plan
    #   working-directory: terraform/azure/peering/dev

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform/azure/peering/dev

  azure_acr_dev:
    needs: azure_peering
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Deploy ACR on Azure / ${{ github.event.inputs.env }}"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ github.event.inputs.tf_version }}
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init -upgrade
      working-directory: terraform/azure/acr/${{ github.event.inputs.env }}

    # - name: Terraform Plan
    #   run: terraform plan
    #   working-directory: terraform/azure/acr/${{ github.event.inputs.env }}
      env:
        TF_VAR_authorized_ip_ranges: "[\"${{ secrets.HOME_IP_ADDRESS }}\"]"

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform/azure/acr/${{ github.event.inputs.env }}
      env:
        TF_VAR_authorized_ip_ranges: "[\"${{ secrets.HOME_IP_ADDRESS }}\"]"

  azure_acr_shared:
    needs: azure_peering
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Deploy ACR on Azure / shared"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ github.event.inputs.tf_version }}
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init -upgrade
      working-directory: terraform/azure/acr/shared

    # - name: Terraform Plan
    #   run: terraform plan
    #   working-directory: terraform/azure/acr/shared
      env:
        TF_VAR_authorized_ip_ranges: "[\"${{ secrets.HOME_IP_ADDRESS }}\"]"

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform/azure/acr/shared
      env:
        TF_VAR_authorized_ip_ranges: "[\"${{ secrets.HOME_IP_ADDRESS }}\"]"

  azure_aks:
    needs:
    - azure_peering
    - azure_application_gateway
    - azure_acr_shared
    - azure_acr_dev
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Deploy AKS on Azure / ${{ github.event.inputs.env }}"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ github.event.inputs.tf_version }}
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init -upgrade
      working-directory: terraform/azure/aks/${{ github.event.inputs.env }}

    # - name: Terraform Plan
    #   run: terraform plan
    #   working-directory: terraform/azure/aks/${{ github.event.inputs.env }}
      env:
        TF_VAR_authorized_ip_ranges: "[\"${{ secrets.HOME_IP_ADDRESS }}\"]"

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform/azure/aks/${{ github.event.inputs.env }}
      env:
        TF_VAR_authorized_ip_ranges: "[\"${{ secrets.HOME_IP_ADDRESS }}\"]"

  azure_secrets:
    needs: azure_aks
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Deploy Azure Bastion / ${{ github.event.inputs.env }}"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ github.event.inputs.tf_version }}
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init -upgrade
      working-directory: terraform/azure/secrets/${{ github.event.inputs.env }}

    # - name: Terraform Plan
    #   run: terraform plan
    #   working-directory: terraform/azure/secrets/${{ github.event.inputs.env }}

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform/azure/secrets/${{ github.event.inputs.env }}

  azure_observability:
    needs: azure_aks
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Deploy Observability / ${{ github.event.inputs.env }}"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ github.event.inputs.tf_version }}
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init -upgrade
      working-directory: terraform/azure/observability/${{ github.event.inputs.env }}

    # - name: Terraform Plan
    #   run: terraform plan
    #   working-directory: terraform/azure/observability/${{ github.event.inputs.env }}

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform/azure/observability/${{ github.event.inputs.env }}

  azure_velero:
    needs: azure_aks
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Deploy Velero / ${{ github.event.inputs.env }}"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ github.event.inputs.tf_version }}
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init -upgrade
      working-directory: terraform/azure/velero/${{ github.event.inputs.env }}

    # - name: Terraform Plan
    #   run: terraform plan
    #   working-directory: terraform/azure/velero/${{ github.event.inputs.env }}

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: terraform/azure/velero/${{ github.event.inputs.env }}
